{% extends 'account/base.html' %}

{% load static %}

{% block title %}Dashboard{% endblock %}

{% block header %}
  {% include 'account/includes/header.html' %}
{% endblock %}

{% block content %}
  <div class="col-lg-9">
    <div class="row d-flex justify-content-center">
    {% for ass in backends.associated %}
      {% if ass.provider == 'facebook' %}
        <div id="avatar" class="col-md-6 text-center p-4">
          <img src="{{ ass.extra_data.picture.data.url }}" alt="Profile picture" width="150" height="150" style="border-radius: 50%">
        </div>
        <div class="col-md-6 social-container my-2">
          <p> <strong>Signed in via:</strong> Username or e-mail</p>        
          <p> <strong>First name:</strong> {{ user.first_name }}</p>
          <p> <strong>Last name:</strong> {{ user.last_name }}</p>
          <p> <strong>Username:</strong> {{ user.username }}</p>
          <p> <strong>Email:</strong> {{ user.email }}</p>
          <p> <strong>Date of birth:</strong> {{ profile.date_of_birth }}</p>
          <p> <strong>Provider url:</strong> <a href="{{ ass.extra_data.profile_url }}">link</a></p>
          <a href="{% url 'settings' %}" class="btn btn-primary btn-block mb-4">Edit profile</a>
        </div>
      {% endif %}
    {% endfor %} 
    {% if not backends.associated %}
      <div id="avatar" class="col-md-6 text-center p-4">
        <img src="{% if profile.photo %}{{ profile.photo.url }}{% else %}{% static "img/avatar.png" %}{% endif %}" alt="Profile picture" width="150" height="150" style="border-radius: 50%">      
      </div>
      <div class="col-md-6 social-container my-2 p-4">
        <p> <strong>Signed in via:</strong> Username or e-mail</p>        
        <p> <strong>First name:</strong> {{ user.first_name }}</p>
        <p> <strong>Last name:</strong> {{ user.last_name }}</p>
        <p> <strong>Username:</strong> {{ user.username }}</p>
        <p> <strong>Email:</strong> {{ user.email }}</p>
        <p> <strong>Date of birth:</strong> {{ profile.date_of_birth }}</p>
        <a href="{% url 'settings' %}" class="btn btn-primary btn-block mb-4">Edit profile</a>        
      </div>      
    {% endif %} 
    </div>
  </div>
{% endblock %}