{% extends 'account/base.html' %}

{% block title %}Register{% endblock %}

{% block header %}
  {% include 'account/includes/header.html' %}
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-center align-items-center" style="height: 100vh">
    <div class="text-center p-2">      
      <p>Please, sign up using the following form:</p>
      <form action="." method="post" data-validate-username-url="{% url 'validate_username' %}">
        <!-- 2 column grid layout with text inputs for the first and last names -->
        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <input type="text" class="form-control" name="first_name" maxlength="150" id="id_first_name" />
              <label class="form-label" for="id_first_name">First name</label>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <input type="text" class="form-control" name="last_name" maxlength="150" id="id_last_name" />
              <label class="form-label" for="id_last_name">Last name</label>
            </div>
          </div>
        </div>
  
        <div class="form-outline mb-4">
          <input type="text" class="form-control" name="username" maxlength="150" required id="id_username" />
          <label class="form-label" for="id_username">Username</label>
        </div>

        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="email" class="form-control" name="email" maxlength="254" required id="id_email" />
          <label class="form-label" for="id_email">Email address</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password" class="form-control" name="password" required id="id_password" />
          <label class="form-label" for="id_password">Password</label>
        </div>
  
        <!-- Repeat password input -->
        <div class="form-outline mb-4">
          <input type="password" class="form-control" name="password2" required id="id_password2" />
          <label class="form-label" for="id_password2">Repeat password</label>
        </div>

        <!-- Checkbox -->
        <div class="form-check d-flex justify-content-center mb-4">
          <input
            class="form-check-input me-2"
            type="checkbox"
            value=""
            id="form2Example3"
            checked
          />
          <label class="form-check-label" for="form2Example3">
          Subscribe to our newsletter
          </label>
        </div>
        
        {% csrf_token %}
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>

        <!-- Register buttons -->
        <div class="text-center">
          <p>or sign up with:</p>
          <button type="button" class="btn btn-primary btn-floating mx-1">
            <i class="fab fa-facebook-f"></i>
          </button>

          <button type="button" class="btn btn-primary btn-floating mx-1">
            <i class="fab fa-google"></i>
          </button>

          <button type="button" class="btn btn-primary btn-floating mx-1">
            <i class="fab fa-twitter"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script>
    $("#id_username").change(function () {
      var form = $(this).closest("form");
      $.ajax({
        url: form.attr("data-validate-username-url"),
        data: form.serialize(),
        dataType: 'json',
        success: function (data) {
          if (data.is_taken) {
            alert(data.error_message);
          }
        }
      });
    });
  </script>
{% endblock %}

