{% extends 'account/base.html' %}

{% block title %}Edit your account{% endblock %}

{% block header %}
  {% include 'account/includes/header.html' %}
{% endblock %}

{% block content %}
  
    <div class="row text-center p-4">
      
        <div class="col-lg-6 col-md-4">
          <p>You can edit your account using the following form:</p>
          <form action="." method="post" enctype="multipart/form-data">
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" class="btn btn-primary btn-block mb-4" value="Save changes"></p>
          </form>
        </div>
        <div class="col-lg-6 col-md-4">
          <p>Change your password using the following form:</p>
          <form action="{% url 'password' %}" method="post">
            {{ password_form.as_p }}
            {% csrf_token %}            
            <p><input type="submit" class="btn btn-primary btn-block mb-4" value="Change password"></p>
          </form>
        </div>
        
    </div>
  
{% endblock %}