{% extends 'account/base.html' %}

{% block title %}Log-in{% endblock %}

{% block header %}
<header>
  {% include 'core/includes/navbar.html' %}
  <div class="card card-intro sky-gradient">
    <div class="card-body white-text rgba-black-light text-center">
      <!--Grid row-->
      <div class="row d-flex justify-content-center">
        <!--Grid column-->
        <div class="col-md-6">
          <h1 class="font-weight-bold h2">Log-in</h1>
        </div>
      <!--Grid column-->
      </div>
    <!--Grid row-->
    </div>
  </div>
</header>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-center align-items-center" style="height: 100vh">
    <div class="text-center p-2">
      {% if form.errors %}
        <p>
          Your username and password didn't match.
          Please try again.
        </p>
      {% else %}
        <p>Please, use the following form to log-in.</p>
      {% endif %}
      <form action="{% url 'login' %}" method="post">
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="email" id="form2Example1" class="form-control" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username" />
          <label class="form-label" for="form2Example1">Email address</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password" id="form2Example2" class="form-control" name="password" autocomplete="current-password" required id="id_password" />
          <label class="form-label" for="form2Example2">Password</label>
        </div>

        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">
          <div class="col d-flex justify-content-center">
            <!-- Checkbox -->
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="form2Example3"
                checked
              />
              <label class="form-check-label" for="form2Example3"> Remember me </label>
            </div>
          </div>
          <div class="col">
            <!-- Simple link -->
            <a href="{% url 'password_reset'%}">Forgot password?</a>
          </div>
        </div>

        <!-- Submit button -->
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

        <!-- Register buttons -->
        <div class="text-center">
          <p>Not a member? <a href="{% url 'register' %}">Register</a></p>
          <p>or sign up with:</p>
          <button type="button" class="btn btn-primary btn-floating mx-1">
            <i class="fab fa-facebook-f"></i>
          </button>

          <button type="button" class="btn btn-primary btn-floating mx-1">
            <i class="fab fa-google"></i>
          </button>

          <button type="button" class="btn btn-primary btn-floating mx-1">
            <i class="fab fa-twitter"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}