{% extends 'account/base.html' %}

{% block title %}Change you password{% endblock %}

{% block header %}
<header>
  {% include 'core/includes/navbar.html' %}
  <div class="card card-intro sky-gradient">
    <div class="card-body white-text rgba-black-light text-center">
      <!--Grid row-->
      <div class="row d-flex justify-content-center">
        <!--Grid column-->
        <div class="col-md-6">
          <h1 class="font-weight-bold h2">Change you password</h1>
        </div>
      <!--Grid column-->
      </div>
    <!--Grid row-->
    </div>
  </div>
</header>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-center align-items-center" style="height: 100vh">
    <div class="text-center p-2">
      <p>Use the form below to change your password.</p>
      <form action="." method="post">
        {{ form.as_p }}
        <p><input type="submit" class="btn btn-primary btn-block mb-4" value="Change"></p>
        {% csrf_token %}
      </form>  
    </div>
  </div>  
{% endblock %}