{% extends 'account/base.html' %}

{% block title %}Reset your password{% endblock %}

{% block header %}
<header>
  {% include 'core/includes/navbar.html' %}
  <div class="card card-intro sky-gradient">
    <div class="card-body white-text rgba-black-light text-center">
      <!--Grid row-->
      <div class="row d-flex justify-content-center">
        <!--Grid column-->
        <div class="col-md-6">
          <h1 class="font-weight-bold h2">Reset your password</h1>
        </div>
      <!--Grid column-->
      </div>
    <!--Grid row-->
    </div>
  </div>
</header>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-center align-items-center" style="height: 100vh">
    <div class="text-center p-2">
      <p>We've emailed you instructions for setting your password.</p>
      <p>If you don't receive an email, please make sure you've entered the
         address you registered with.</p>  
    </div>
  </div>
{% endblock %}