{% extends 'account/base.html' %}

{% block title %}Reset your password{% endblock %}

{% block header %}
<header>
  {% include 'core/includes/navbar.html' %}
  <div class="card card-intro sky-gradient">
    <div class="card-body white-text rgba-black-light text-center">
      <!--Grid row-->
      <div class="row d-flex justify-content-center">
        <!--Grid column-->
        <div class="col-md-6">
          <h1 class="font-weight-bold h2">Reset your password</h1>
        </div>
      <!--Grid column-->
      </div>
    <!--Grid row-->
    </div>
  </div>
</header>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-center align-items-center" style="height: 100vh">
    <div class="text-center p-2">
      {% if validlink %}
        <p>Please enter your new password twice:</p>
        <form action="." method="post">
          {{ form.as_p }}
          {% csrf_token %}
          <p><input type="submit" class="btn btn-primary btn-block mb-4" value="Change my password" /></p>
        </form>
      {% else %}
        <p>The password reset link was invalid, possibly because it has
           already been used. Please request a new password reset.</p>
      {% endif %}  
    </div>
  </div>
{% endblock %}